$w-xs: 360px;
$w-sm: 600px;
$w-md: 1000px - 1px;
$w-lg: 1300px - 1px;
$w-xl: 1500px - 1px;
$w-xxl: 1920px;
$h-md: 815px;
$h-sm: 700px;
$h-xs: 630px;


$primary-background: #42414d;

img {
    max-width: 100%;
    height: auto;
}

.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
    opacity: 0;
}
